<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting Cost</title>
    <style>
        .elapsedCost {
            font-size: 10vw;
        }
    </style>
</head>

<body>
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            data() {
                return {
                    intervalID: null,
                    startDate: null,
                    currencyCode: "EUR",
                    employeeCount: 5,
                    employeeSalary: 6000,
                    elapsedCost: 0
                }
            },
            methods: {
                resetTimer() {
                    this.startDate = Date.now();
                    this.elapsedCost = 0;
                },
                toggleTimer() {
                    if (this.intervalID) {
                        clearTimeout(this.intervalID);

                        this.startDate = null;
                        this.intervalID = null;
                    }
                    else {
                        this.resetTimer();

                        this.intervalID = setInterval(() => {
                            const elapsed = Date.now() - this.startDate;
                            const costPerSecond = this.employeeCount * this.employeeSalary / (365 / 12 * 24 * 60 * 60) * 2;
                            this.elapsedCost = (elapsed / 1000) * costPerSecond;
                        }, 1000);
                    }
                },
                stopTimer() {
                },
                getElapsedCostString() {
                    try {
                        const currencyFormat = new Intl.NumberFormat(navigator.language, { style: 'currency', currency: this.currencyCode });
                        return currencyFormat.format(this.elapsedCost);
                    }
                    catch (err) {
                        if (!err.name) {
                            console.error(err);
                        }
                        return "";
                    }
                },
                loadConfig() {
                    const params = new URLSearchParams(window.location.search);

                    let currencyCode = params.get('currencyCode');
                    if (currencyCode) {
                        this.currencyCode = currencyCode;
                    }

                    let employeeCount = params.get('employeeCount');
                    if (employeeCount) {
                        this.employeeCount = employeeCount;
                    }

                    let employeeSalary = params.get('employeeSalary');
                    if (employeeSalary) {
                        this.employeeSalary = employeeSalary;
                    }
                },
                saveConfig() {
                    const params = new URLSearchParams(window.location.search);
                    params.set('currencyCode', this.currencyCode);
                    params.set('employeeCount', this.employeeCount);
                    params.set('employeeSalary', this.employeeSalary);
                    window.location.search = params;
                }
            },
            created() {
                this.loadConfig();
                this.resetTimer();
            },
            unmounted() {

            }
        }).mount('#app')
    </script>

    <div id="app">
        <label for="quantity">Number of employees:</label>
        <input type="number" v-model="employeeCount">

        <br>
        <!-- https://developers.teleport.org/api/reference/#!/urban_areas/getUrbanAreaSalaries -->
        <label for="quantity">Average monthly salary per employee:</label>
        <input type="number" v-model="employeeSalary" @change="saveConfig">
        <br>
        <label for="quantity">Currency code:</label>
        <input v-model="currencyCode" @change="saveConfig" list="currencyCodes">
        <datalist id="currencyCodes">
            <option value="USD">
            <option value="EUR">
            <option value="GBP">
            <option value="SEK">
        </datalist>

        <div id="elapsedCost" class="elapsedCost">{{ getElapsedCostString() }}</div>

        <button @click="toggleTimer()">{{ intervalID ? "Stop" : "Start"}}</button>
        <button @click="resetTimer()">Reset</button>

    </div>
</body>

</html>