body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

#container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    height: 80%;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    width: 100%;
}

.date-is,
.time-is {
    flex: 1;
    text-align: center;
    /* border: 1px solid red; */
}


/* Dynamically applied colors */

.clock-light {
    background-color: #f4f4f4;
    color: #0a0a0a;
}

.clock-dark {
    background-color: black;
    color: rgba(255, 0, 0, 0.4);
}

.top-morning {
    background-color: #FFFFCC;
}

.top-afternoon {
    background-color: #87CEFA;
}

.top-evening {
    background-color: #D8BFD8;
}

.top-night {
    background-color: black;
    border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}

.top-fade {
    transition: background-color 60s;
}


/* Additional styles for text elements */

.text-dim {
    opacity: 0.5;
}

.text-bold {
    font-weight: bold;
}

.text-medium {
    font-size: 1.75rem;
}

.text-large {
    font-size: 3.5rem;
}


/* Portrait support */

@media (orientation: portrait) {
    .content {
        flex-direction: column;
    }

    .date-is {
        margin-bottom: 20%;
    }
}

/* Styles for tablets */

@media screen and (min-width: 480px) and (orientation: portrait) {
    .text-medium {
        font-size: 3.5rem;
    }

    .text-large {
        font-size: 7rem;
    }
}

@media screen and (min-height: 480px) and (orientation: landscape) {
    .text-medium {
        font-size: 2.5rem;
    }

    .text-large {
        font-size: 5rem;
    }
}