body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

#container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.date-is,
.time-is {
    /* flex: 1; */
    flex-grow: 1;
    text-align: center;
    /* border: 1px solid red; */
}


/* Dynamically applied colors */

.clock-light {
    background-color: #f4f4f4;
    color: #0a0a0a;
}

.clock-dark {
    background-color: black;
    color: rgba(255, 0, 0, 0.4);
}

.top-morning {
    background-color: #FFFFCC;
}

.top-afternoon {
    background-color: #87CEFA;
}

.top-evening {
    background-color: #D8BFD8;
}

.top-night {
    background-color: black;
    border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}

.top-fade {
    transition: background-color 60s;
}


/* Additional styles for text elements */

.text-dim {
    opacity: 0.5;
}

.text-bold {
    font-weight: bold;
}


/* Styles for portrait vs. landscape orientations */

@media (orientation: portrait) {
    .top {
        height: 20%;
    }

    .bottom {
        height: 80%;
    }

    .date-is,
    .time-is {
        margin-bottom: 12%;
    }
}

@media (orientation: landscape) {
    .top {
        height: 12%;
    }

    .bottom {
        height: 88%;
    }

    .date-is,
    .time-is {
        margin-bottom: 6%;
    }
}


/* Styles for phone vs. tablet sizes */

@media screen and (max-width: 480px) and (orientation: portrait),
screen and (max-height: 480px) and (orientation: landscape) {
    .text-medium {
        font-size: 1.8rem;
    }

    .text-large {
        font-size: 3.6rem;
    }
}

@media screen and (min-width: 480px) and (orientation: portrait),
screen and (min-height: 480px) and (orientation: landscape) {
    .text-medium {
        font-size: 3.5rem;
    }

    .text-large {
        font-size: 7rem;
    }
}